:root {
    --black: #000000;
}

.banner {
    position: relative;
    background-color: var(--black);
}

.banner .row {
    z-index: 10;
    gap: 20px;
}

.section .row.filter-row {
    max-width: 1200px;
}

.banner h1,
.banner p {
    color: var(--white);
    max-width: 50%;
}

.banner,
.banner .row,
.banner .overlay {
    height: 90vh;
}

.banner.section .overlay {
    background: var(--overlay);
    opacity: 0.8;
}

.section.black {
    color: var(--white);
}

.section .filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section .filters .filter-btn {
    font-size: 30px;
    color: var(--white);
    opacity: 0.6;
    transition: var(--transition);
}

.section .filters .filter-btn:hover {
    cursor: pointer;
}

.section .filters .filter-btn.active {
    opacity: 1;
    font-weight: 700;
    transition: var(--transition);
}

.form-wrapper {
    display: flex;
    width: 80%;
    padding: 30px;
    border-radius: var(--borderRadius);
    background-color: var(--white);
    box-shadow: var(--boxShadow);
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.form-wrapper input,
.form-wrapper option,
.form-wrapper select {
    color: var(--black);
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border-bottom: 1px solid var(--primary);
    border-radius: 0;
    height: 60px;
    outline: none;
    font-size: 18px;
    transition: border-bottom 200ms ease;
}

.form-wrapper input::placeholder {
    color: var(--black);
    opacity: 0.6;
}

.form-wrapper input:focus {
    transition: border-bottom 200ms ease;
    border-bottom: 2px solid var(--primary);
}

.form-wrapper .btn {
    color: var(--white);
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: border-bottom 200ms ease;
    transition: var(--transition);
    margin-top: 20px;
    border-radius: 12px;
}

.form-wrapper .btn:hover {
    transform: scale(1.02);
}

.wrapper.cards {
    width: 80%;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}

.wrapper.cards .item {
    flex: 0 1 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--white);
    border-radius: var(--borderRadius);
}

.wrapper.cards .item img,
.wrapper.cards .item .overlay {
    border-radius: var(--borderRadius);
}

.wrapper.cards .item .item-content {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.wrapper.cards .item .overlay {
    background: var(--black);
}

.wrapper.cards .item .item-content h3 {
    font-size: 24px;
    color: var(--white);
}

.wrapper.cards .item .item-content .btn {
    font-size: 14px;
    margin: 0 auto;
    border: none;
}

.wrapper.experiences-wrapper .item {
    flex: 1 0 20%;
}

@media (max-width: 560px) {
    .banner h1,
    .banner p {
        max-width: 100%;
    }

    .banner, 
    .banner .row, 
    .banner .overlay {
        height: 70vh;
    }

    .section .row.flex-col {
        gap: 40px;
    }

    .section .wrapper.cards {
        width: 100%;
    }

    .section .wrapper.cards .item {
        flex: 1 0 45%;
    }

    .section .wrapper.cards .item .item-content h3 {
        font-size: 18px;
    }

    .wrapper.cards .item .item-content .btn {
        display: none;
    }

    .section .row.flex-col.center {
        text-align: center;
    }
}