.banner {
    position: relative;
    background-color: var(--black);
}

.banner .row {
    z-index: 10;
}

.banner h1,
.banner p {
    color: var(--white);
}

.banner,
.banner .row,
.banner .overlay {
    height: 90vh;
}

.banner.section .overlay {
    background: var(--overlay);
    opacity: 0.8;
}

.filters.section {
    background-color: var(--light-grey);
}

.filters.section .wrapper {
    gap: 40px;
}

.filter .wrapper .filter-btn {
    font-size: 18px;
    font-weight: 700;
    opacity: 0.7;
    color: var(--black);
    transition: var(--transition);
}

.filter .wrapper .filter-btn:hover {
    cursor: pointer;
    opacity: 1;
    transition: var(--transition);
}

.filter .wrapper .filter-btn.active {
    opacity: 1;
    transition: var(--transition);
}

/* UNDERLINE ACTIVE FILTERS */
.filter .filter-btn {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
}

.filter .filter-btn.active::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    animation: underline_filter 500ms ease-in-out;
}

.form-wrapper {
    display: flex;
    width: 80%;
    padding: 30px;
    border-radius: var(--borderRadius);
    background-color: var(--white);
    box-shadow: var(--boxShadow);
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.form-wrapper input,
.form-wrapper option,
.form-wrapper select {
    color: var(--black);
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border-bottom: 1px solid var(--primary);
    border-radius: 0;
    height: 60px;
    outline: none;
    font-size: 18px;
    transition: border-bottom 200ms ease;
}

.form-wrapper input::placeholder {
    color: var(--black);
    opacity: 0.6;
}

.form-wrapper input:focus {
    transition: border-bottom 200ms ease;
    border-bottom: 2px solid var(--primary);
}

.form-wrapper .btn {
    color: var(--white);
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: border-bottom 200ms ease;
    transition: var(--transition);
    margin-top: 20px;
    border-radius: 12px;
}

.form-wrapper .btn:hover {
    transform: scale(1.02);
}

.wrapper.cards {
    width: 80%;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}

.wrapper.cards .card {
    flex: 0 1 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* overflow: hidden; */
    background-color: var(--white);
    border-radius: var(--borderRadius);
}

.wrapper.cards .card .tag {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #606478;
    margin-bottom: 10px;
}

.wrapper.cards .card .btn.no-border {
    font-size: 14px;
    border: none;
    padding: unset;
}

.wrapper.cards .card img,
.wrapper.cards .card .overlay {
    border-radius: var(--borderRadius);
}

.wrapper.cards .card .overlay {
    background-color: var(--black);
    opacity: 0;
    position: absolute;
}

.wrapper.cards .card .card-image {
    flex: 1 0;
    display: flex;
    position: relative;
}

.wrapper.cards .card .card-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 20px;
    z-index: 10;
    border-bottom-right-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
}

.wrapper.cards .card .card-content h5 {
    color: var(--black);
}

.wrapper.cards .card .card-content h5 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.wrapper.cards .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.wrapper.cards .card-image {
    border-radius: var(--borderRadius);
    overflow: hidden;
}

.wrapper.cards .card-image:hover img {
    transform: scale(1.05);
    transition: var(--transition);
}